# Node artifact files
node_modules/

# Cache files
.eslintcache

# Log files
*.log

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# Exclude files for public release.
dist/
*.zip

# Others
.DS_Store