<%- include('../layouts/header.ejs') %>

<div class="wrapper top">
  <div class="wrapper__inner">
    
    <%- include('../components/header.ejs') %>
    
    <%- include('../components/footer.ejs') %>

    </div>
  </div>

<%- include('../layouts/footer.ejs')_%>
